adbc_driver_manager==1.5.0
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
AppKit==0.2.8
attr==0.3.2
BeautifulSoup==3.2.2
boto3==1.37.34
botocore==1.37.34
Brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.12
dask==2025.3.0
dl==0.1.0
docutils==0.21.2
fastparquet==2024.11.0
filelock==3.18.0
Flask==3.1.0
Flask_Compress==1.17
Foundation==0.1.0a0.dev1
fsspec==2025.3.2
h2==4.2.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.131.0
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
langchain==0.3.23
langchain_community==0.3.21
langchain_core==0.3.52
langchain_groq==0.3.2
lxml_html_clean==0.4.2
MarkupSafe==3.0.2
matplotlib==3.10.1
mock==5.2.0
mtrand==0.1
mypy==1.15.0
numarray==1.5.1
Numeric==24.2
numexpr==2.10.2
odfpy==1.4.1
openpyxl==3.1.5
pickle5==0.0.12
Pillow==11.2.1
protobuf==6.30.2
psutil==7.0.0
pydantic==2.11.3
PyInstaller==6.13.0
pyodide==0.0.2
pyOpenSSL==25.0.0
PyQt4==4.11.4
PyQt5==5.15.11
pytest==8.3.5
python-dotenv==1.1.0
python_calamine==0.3.2
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.2
qtpy==2.4.3
railroad==0.5.0
redis==5.2.1
s3fs==2025.3.2
scikit_learn==1.6.1
scipy==1.15.2
scipy_doctest==1.7.1
sets==0.3.2
simplejson==3.20.1
Sphinx==8.2.3
SQLAlchemy==2.0.40
tables==3.10.2
thread==2.0.5
threadpoolctl==3.6.0
tornado==6.4.2
traitlets==5.14.3
trove_classifiers==2025.4.11.15
urllib3_secure_extra==0.1.0
xarray==2025.3.1
xlrd==2.0.1
xlsxwriter==3.2.2
xmlrpclib==1.0.1
zstandard==0.23.0
