{% extends "index.html" %} {% block style %} {{ super() }}
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/top-movers.css">
    {% endblock %} {% block content %}
        <!-- Main Content -->
        <div class="main-content">
            <h2><i class="fas fa-bolt"></i> Top Movers</h2>
            
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Market Movers</h3>
                    <div class="time-filter">
                        <button class="active" data-time="today">Today</button>
                        <button data-time="week">This Week</button>
                        <button data-time="month">This Month</button>
                    </div>
                </div>
                
                <div class="movers-container">
                    <div class="movers-column gainers">
                        <h4><i class="fas fa-arrow-up"></i> Top Gainers</h4>
                        {% for stock in gainers %}
                        <div class="stock-card">
                          <div style="flex:1">
                            <h4>{{ stock['Ticker'] }} <span class="up">{{ stock['Change'] }}</span></h4>
                            <p>{{ stock['Company'] }}</p>
                            <small>Volume: {{ stock['Volume'] }}</small>
                          </div>
                          <form action="{{ url_for('news') }}" method="POST">
                            <input type="hidden" name="query" value="{{ stock['Ticker'] }}">
                            <button class="analyze-btn" type="submit">Analyze</button>
                          </form>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                    
                    <div class="movers-column losers">
                        <h4><i class="fas fa-arrow-down"></i> Top Losers</h4>
                        {% for stock in losers %}
                        <div class="stock-card">
                          <div style="flex:1">
                            <h4>{{ stock['Ticker'] }} <span class="up">{{ stock['Change'] }}</span></h4>
                            <p>{{ stock['Company'] }}</p>
                            <small>Volume: {{ stock['Volume'] }}</small>
                          </div>
                          <form action="{{ url_for('news') }}" method="POST">
                            <input type="hidden" name="query" value="{{ stock['Ticker'] }}">
                            <button class="analyze-btn" type="submit">Analyze</button>
                          </form>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="static/scripts/main.js"></script>
    <script src="static/scripts/top-movers.js"></script>
    {% endblock %}